<button type="button" name="button" (click)='getInfoFromServiceClass1()'>Product 1</button>

<ul class="list-group">
  <li *ngFor="let info of inforeceive1" class="list-group-item">
    {{ info }}
  </li>
</ul>

<button type="button" name="button" (click)='getInfoFromServiceClass2()'>Product 2</button>

<ul class="list-group">
  <li *ngFor="let info of inforeceive2" class="list-group-item">
    {{ info }}
  </li>
</ul>

<button type="button" name="button" (click)='getInfoFromServiceClass3()'>Product 3</button>

<ul class="list-group">
    <li *ngFor="let info of inforeceive3" class="list-group-item">
      {{ info }}
    </li>
  </ul>
  <h1>ok</h1>