<div class="todos">
    <form (ngSubmit)="addTodo()">
        <input 
        type="text" 
        name="inputTodo" 
        placeholder="Enter your todo" 
        class="todo-input" 
        [(ngModel)]="inputTodo"/>
        <button type="submit">Add Todo</button>
    </form>
</div>
<div class="todos" *ngFor="let todo of todos; let i=index;" class="todo{{ (todo.completed ? 'done':'')}}">

    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
    <button class="delete" (click)="deleteTodo(i)">Remove</button>
    
</div>
